@import 'index.scss';

.main-container{
  .jumbotron{
    padding: 7rem 2rem;
    background: url('/img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    h3{
      font-size: 40px;
      font-weight: 600;
    }
    p{
      font-size: 24px;
      font-weight: 100;
    }
    @media screen and (max-width: 767px){
      background-position: 100% 0;
    }
  }

  .store-show{
    margin-left: 30px;
    margin-right: 30px;
    .filter{
      margin-bottom: 20px;
      .form-control{
        max-width: 200px;
        width: 200px;
        display: inline-block;
      }
    }
    .store-title{
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 32px;
      color: $gray-dark;
      text-align: center;
    }
    .store-col{
      @media screen and (min-width: 576px){
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (min-width: 768px){ //col-md
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (min-width: 992px){ //col-lg
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  .store-pagination{
    padding-bottom: 50px;
  }
}